@model IEnumerable<Eccomerce_Full_Stack.Models.Category>

@{
ViewData["Title"] = "Index";
Layout = "_AdminLayout";
}
<div class="min-h-[80vh]">

<h1 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">Categories</h1>

    <a asp-action="Create" class="inline-block bg-blue-500 my-5 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create New</a>

<div class="bg-gray-50  dark:bg-gray-800 shadow-md rounded-lg p-6">
    <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-700">
        <thead>
        <tr class="divide-x divide-gray-200 dark:divide-gray-700">
            <th class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 sm:pl-0">#</th>
            <th class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 dark:text-gray-100">Category Name</th>
            <th class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-100">Actions</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-gray-700 bg-white dark:bg-gray-800">
        @for (var i = 0; i < Model.Count(); i++)
        {
        var item = Model.ElementAt(i);
        <tr class="divide-x divide-gray-200 dark:divide-gray-700">
            <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm text-gray-900 dark:text-gray-100 sm:pl-0">@(i + 1)</td>
            <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm text-gray-900 dark:text-gray-100 sm:pl-0">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td class="whitespace-nowrap px-4 py-4 text-sm text-gray-900 dark:text-gray-100">
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-blue-600 hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-600">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="text-blue-600 hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-600">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-red-600 hover:text-red-900 dark:text-red-400 dark:hover:text-red-600">Delete</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
</div>
