@model Eccomerce_Full_Stack.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
    const string label_class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white";
    const string input_class = "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="@label_class"></label>
                <select asp-for="CategoryId" class ="@input_class" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="@label_class"></label>
                <input asp-for="ProductName" class="@input_class" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="@label_class"></label>
                <textarea asp-for="Description" class="@input_class"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="StoreId" class="@label_class"></label> *@
            @*     <input asp-for="StoreId" class="@input_class" /> *@
            @*     <span asp-validation-for="StoreId" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Price" class="@label_class"></label>
                <input asp-for="Price" class="@input_class" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="@label_class"></label>
                <input asp-for="Quantity" class="@input_class" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="@label_class"></label>
                <input type="file" asp-for="File" class="@input_class" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="my-4">
                <button type="submit" class="inline-flex justify-center items-center py-2 px-6 w-1/2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-blue-700 ">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
