@model IEnumerable<Eccomerce_Full_Stack.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Index</h1>

<p class="my-4">
    <a asp-action="Create" class="inline-flex justify-center items-center py-2 px-3 w-1/2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
        <svg class="mr-2 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                  clip-rule="evenodd"></path>
        </svg>
        Create New
    </a>
</p>

<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden shadow min-h-[80vh]">
                <table class="min-w-full  divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                    <thead class="bg-gray-100 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="p-4 w-32 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                @Html.DisplayNameFor(model => model.StoreId)
                            </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>

                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th scope="col" class="p-4 w-72"></th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                @foreach (var item in Model) {
                    <tr>
                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <img src="uploads/@Html.DisplayFor(modelItem => item.Image)" alt="Product Image" class="w-32 h-16 object-cover"/>
                        </td>
                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @Html.DisplayFor(modelItem => item.StoreId)
                        </td>
                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>

                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            <a class="text-blue-600" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                            <a class="text-indigo-600" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                            <a class="text-red-700" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                    </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>