@model Eccomerce_Full_Stack.Models.Product

<div class="relative border border-2 bg-gray-50 dark:bg-gray-800  border-gray-100 dark:border-gray-700 rounded-2xl">
    <span class="absolute -right-0.5 -top-0.5 z-20 h-[54px] w-[54px] rounded-tr-xl rounded-bl-xl bg-gradient-to-tr from-sky-600 to-sky-400 p-1 text-center text-[14px] font-medium text-white">
        BUY 1 GET 1
    </span>
    <div class="relative">
        <div class=" h-72 w-full overflow-hidden rounded-t-xl">
            <img src="uploads/@Model.Image"
                 alt="Product image"
                 class="h-full w-full object-contain bg-gray-50 object-center">
        </div>

        <div class="p-2">
            <div class="relative mt-2">
                <div class="flex items-center justify-between  h-full w-full">
                    <h3 class="text-sm font-medium text-gray-900 dark:text-white">@Model.ProductName</h3>
                    <span class="inline-flex items-center gap-x-1.5 rounded-full bg-gray-100 px-1.5 py-0.5 text-xs font-medium text-gray-600">
                    <svg class="h-1.5 w-1.5 fill-gray-400" viewBox="0 0 6 6" aria-hidden="true">
                        <circle cx="3" cy="3" r="3"></circle>
                    </svg>
                        @Model.Category.CategoryName
                    </span>
                </div>
                <p class="mt-1 text-sm text-gray-500 dark:text-white line-clamp-1">@Model.Remark</p>
            </div>
            <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-none p-4">
                <div aria-hidden="true"
                     class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-sky-300 opacity-70"></div>
                <p class="relative text-lg font-semibold text-sky-500">$@Model.Price</p>
            </div>
        </div>
    </div>
    <div class="mt-6 p-2">
        <button @@click="$dispatch('set-cart',{ id: '@Model.ProductId', name: '@Model.ProductName', price: '@Model.Price',image: '@Model.Image', qty: 1 })"
                class="relative flex items-center justify-center rounded-md bg-gradient-to-tr from-sky-600 to-sky-400   border border-transparent px-8 py-2 text-sm text-sky-50 font-medium  hover:from-sky-500 hover:to-sky-500">
            Add to bag
        </button>
    </div>
</div>